*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.idea
local.properties
系统界面
系统界面工具
设置
软件包安装程序
系统公共组件
主题美化
flyme桌面
MIUI桌面
HyperCeiler
keystore.properties
release.keystore
Flyme logo.png
AGENTS.md
.trae
